node-red/flows.json
[{"id":"33e5190.d4b8768","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5068fed8.367ae","type":"ui_button","z":"33e5190.d4b8768","name":"","group":"3965b885.b84fd","order":1,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":250,"y":140,"wires":[["7c5f6cb3.b647bc","27cfa8df.03d6b8","c2b6a065.478848"]]},{"id":"144a09b.f9013f6","type":"ui_button","z":"33e5190.d4b8768","name":"","group":"3965b885.b84fd","order":2,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":250,"y":240,"wires":[["7c5f6cb3.b647bc","27cfa8df.03d6b8","c2b6a065.478848"]]},{"id":"730a7e4e.62034","type":"ui_text","z":"33e5190.d4b8768","group":"3965b885.b84fd","order":3,"width":0,"height":0,"name":"","label":"Output Status","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":240,"wires":[]},{"id":"7c5f6cb3.b647bc","type":"debug","z":"33e5190.d4b8768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":140,"wires":[]},{"id":"be12b3c4.16ac4","type":"mqtt in","z":"33e5190.d4b8768","name":"Control","topic":"client/messages","qos":"0","datatype":"auto","broker":"dfbdf06d.5d8778","nl":false,"rap":true,"rh":0,"x":250,"y":80,"wires":[["fe6c5754.bf1ae","47b2e9b3.2b961"]]},{"id":"fe6c5754.bf1ae","type":"debug","z":"33e5190.d4b8768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":80,"wires":[]},{"id":"27cfa8df.03d6b8","type":"mqtt out","z":"33e5190.d4b8768","name":"Control","topic":"client/control","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"dfbdf06d.5d8778","x":460,"y":180,"wires":[]},{"id":"62d5d816.fb969","type":"ui_text","z":"33e5190.d4b8768","group":"3965b885.b84fd","order":6,"width":0,"height":0,"name":"","label":"messages","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":40,"wires":[]},{"id":"80a000f0.f88c28","type":"mqtt in","z":"33e5190.d4b8768","name":"Voltage","topic":"client/voltage_p","qos":"0","datatype":"auto","broker":"dfbdf06d.5d8778","nl":false,"rap":true,"rh":0,"x":250,"y":480,"wires":[["8d89857d.a3f6f","eeb93391.f4927"]]},{"id":"15509d7b.d5b8f3","type":"mqtt in","z":"33e5190.d4b8768","name":"Current","topic":"client/current","qos":"0","datatype":"auto","broker":"dfbdf06d.5d8778","nl":false,"rap":true,"rh":0,"x":250,"y":560,"wires":[["26e6019b.9ceaa6","f1dc697a.349d58"]]},{"id":"9c0512a.5ed287","type":"mqtt in","z":"33e5190.d4b8768","name":"Power","topic":"client/voltage_n","qos":"0","datatype":"auto","broker":"dfbdf06d.5d8778","nl":false,"rap":true,"rh":0,"x":250,"y":640,"wires":[["f1a8e58c.5f5c98","37c0151c.8a727a"]]},{"id":"2cd7627f.adf2fe","type":"mqtt in","z":"33e5190.d4b8768","name":"Phase","topic":"client/phase","qos":"0","datatype":"auto","broker":"dfbdf06d.5d8778","nl":false,"rap":true,"rh":0,"x":250,"y":800,"wires":[["febb376a.42d2e8","1fe3f31e.b0cb55"]]},{"id":"8eeda0c0.f99e7","type":"mqtt in","z":"33e5190.d4b8768","name":"Electric energy consumption","topic":"client/comsumption","qos":"0","datatype":"auto","broker":"dfbdf06d.5d8778","nl":false,"rap":true,"rh":0,"x":320,"y":720,"wires":[["1d31f47e.e15aac","98d490c.50f8ef"]]},{"id":"26e6019b.9ceaa6","type":"ui_text","z":"33e5190.d4b8768","group":"96fe45e5.788f08","order":2,"width":0,"height":0,"name":"","label":"Current","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":560,"wires":[]},{"id":"f1a8e58c.5f5c98","type":"ui_text","z":"33e5190.d4b8768","group":"96fe45e5.788f08","order":3,"width":0,"height":0,"name":"","label":"Power","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":640,"wires":[]},{"id":"1d31f47e.e15aac","type":"ui_text","z":"33e5190.d4b8768","group":"96fe45e5.788f08","order":4,"width":0,"height":0,"name":"","label":"Electric Energy Consumption","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":720,"wires":[]},{"id":"febb376a.42d2e8","type":"ui_text","z":"33e5190.d4b8768","group":"96fe45e5.788f08","order":5,"width":0,"height":0,"name":"","label":"Phase","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":800,"wires":[]},{"id":"8d89857d.a3f6f","type":"ui_text","z":"33e5190.d4b8768","group":"96fe45e5.788f08","order":1,"width":0,"height":0,"name":"","label":"Voltage","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":480,"wires":[]},{"id":"5d74ed.87ec7b14","type":"ui_switch","z":"33e5190.d4b8768","name":"OCP Switch","label":"Overcurrent Protection","tooltip":"","group":"3965b885.b84fd","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":270,"y":300,"wires":[["a75d33e1.6994f8","c9f0fa58.c047b","e953ed20.56586"]]},{"id":"a9390a13.e5477","type":"ui_text","z":"33e5190.d4b8768","group":"3965b885.b84fd","order":5,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":380,"wires":[]},{"id":"a75d33e1.6994f8","type":"mqtt out","z":"33e5190.d4b8768","name":"","topic":"client/protection","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"dfbdf06d.5d8778","x":700,"y":340,"wires":[]},{"id":"c9f0fa58.c047b","type":"debug","z":"33e5190.d4b8768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":300,"wires":[]},{"id":"eeb93391.f4927","type":"debug","z":"33e5190.d4b8768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":440,"wires":[]},{"id":"f1dc697a.349d58","type":"debug","z":"33e5190.d4b8768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":520,"wires":[]},{"id":"37c0151c.8a727a","type":"debug","z":"33e5190.d4b8768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":600,"wires":[]},{"id":"98d490c.50f8ef","type":"debug","z":"33e5190.d4b8768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":680,"wires":[]},{"id":"1fe3f31e.b0cb55","type":"debug","z":"33e5190.d4b8768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":760,"wires":[]},{"id":"47b2e9b3.2b961","type":"change","z":"33e5190.d4b8768","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"ON","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":40,"wires":[["62d5d816.fb969"]]},{"id":"e953ed20.56586","type":"change","z":"33e5190.d4b8768","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Enabled","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Disabled","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":380,"wires":[["a9390a13.e5477"]]},{"id":"89f16f1d.2f6788","type":"debug","z":"33e5190.d4b8768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":200,"wires":[]},{"id":"c2b6a065.478848","type":"change","z":"33e5190.d4b8768","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"ON","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":240,"wires":[["730a7e4e.62034","89f16f1d.2f6788"]]},{"id":"3965b885.b84fd","type":"ui_group","name":"Control","tab":"89ac5cf0.45e3a","order":1,"disp":true,"width":"6","collapse":false},{"id":"dfbdf06d.5d8778","type":"mqtt-broker","name":"Power Monitoring","broker":"127.0.0.1","port":"1883","clientid":"TEST","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"96fe45e5.788f08","type":"ui_group","name":"Device Data","tab":"89ac5cf0.45e3a","order":2,"disp":true,"width":"6","collapse":false},{"id":"89ac5cf0.45e3a","type":"ui_tab","name":"User Data","icon":"dashboard","order":1,"disabled":false,"hidden":false}]